* {

	box-sizing: border-box;
}

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?fpytm2');
	src:url('../fonts/icomoon.eot?#iefixfpytm2') format('embedded-opentype'),
		url('../fonts/icomoon.woff?fpytm2') format('woff'),
		url('../fonts/icomoon.ttf?fpytm2') format('truetype'),
		url('../fonts/icomoon.svg?fpytm2#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {

	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;	
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;	
}


section {
  height: 600px;
  text-align: center;
  padding: 20px;
}

section {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: bottom;
}

section:nth-of-type(odd) {

	color: #fff;
}

section h1 {

	width: 90vw;
}

#top {

	background-image: url('../images/chamonix.jpg');
	display: block;
	margin: 0;
	padding: 0;
}

.happy {
  width: 100%;
  display: block;
  letter-spacing: .2em;
  text-transform: uppercase;
  font-size: 14vw;
  font-weight: 700;
  background: rgba(0,0,0, 0.9);
  color: #fff;
  opacity: 1;
  margin: 0;
  height: 600px;
  padding-top: 35vh;
  -webkit-mix-blend-mode: darken;
  -moz-mix-blend-mode: darken;
  -ms-mix-blend-mode: darken;
  -o-mix-blend-mode: darken;
  mix-blend-mode: darken;
}


@-webkit-keyframes happy { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes happy { from { opacity:0; } to { opacity:1; } }
@keyframes happy { from { opacity:0; } to { opacity:1; } }


.happy {
	opacity:0;  /* make things invisible upon start */
	-webkit-animation:happy ease-out 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	-moz-animation:happy ease-out 1;
	animation:happy ease-out 1;

	-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-duration:5s;
	-moz-animation-duration:5s;
	animation-duration:5s;
}

#text p {

	line-height: 1.5;
	font-size: 16px;
	width: 80vw;
	margin-bottom: 10vh;

}


.chick {
  background-image: url('../images/park_bench.jpg');
  background-position: center;
}

.read {
  background: -webkit-linear-gradient(to top,#111,transparent),
					url('../images/jessica.jpg');
  background: -moz-linear-gradient(to top,#111,transparent),
					url('../images/jessica.jpg');
  background: -ms-linear-gradient(to top,#111,transparent),
					url('../images/jessica.jpg');
  background: -o-linear-gradient(to top,#111,transparent),
					url('../images/jessica.jpg');
  background: linear-gradient(to top,#111,transparent),
					url('../images/jessica.jpg');
  background-position: top;
  
}

.climb,
.footprints,
.taught,
.love,
.read,
.chick {

	-webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;



}

.climb {
  background-image: url('../images/pembroke.jpg');
  background-position: left;
}

.footprints {
  background-image: url('../images/footprints.jpg');
}

.taught {
  background-image: url('../images/humble.jpg');
  
}

.love {
  background-image: url('../images/tokachidake.jpg');
}

.heart:before {
  content: "\e9da";
  font-family: 'icomoon';
  color: #fff;
  font-size: 30px;
  display: block;
  -webkit-text-decoration: none;
  -moz-text-decoration: none;
  -ms-text-decoration: none;
  -o-text-decoration: none;
  text-decoration: none;
  margin-top: 50px;
  margin-bottom: 10px;
  -webkit-transition: .5s ease-out;
  -moz-transition: .5s ease-out;
  -ms-transition: .5s ease-out;
  -o-transition: .5s ease-out;
  transition: .5s ease-out;
  -webkit-transition-delay: .5s;
  -moz-transition-delay: .5s;
  -ms-transition-delay: .5s;
  -o-transition-delay: .5s;
  transition-delay: .5s;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  -ms-opacity: 1;
  -o-opacity: 1;
  opacity: 1;
}

.love a {

	text-decoration: none;
	color: #fff;
	opacity: .8;

}

.love:hover .heart:before {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}

.love:hover a {

	
	opacity: .5;

}


@media screen and (min-width: 660px) {

#top h1 {

	padding-top: 25vh;
	font-size: 12vw;
}

#text p {

	max-width: 50vw;
}



}

@media screen and (min-width: 845px) {

	#top {
  background: -webkit-linear-gradient(to right,#fff -85%, transparent 60%),
					url('../images/chamonix.jpg');
  background: -moz-linear-gradient(to right,#fff -85%, transparent 60%),
					url('../images/chamonix.jpg');
  background: -ms-linear-gradient(to right,#fff -85%, transparent 60%),
					url('../images/chamonix.jpg');
  background: -o-linear-gradient(to right,#fff -85%, transparent 60%),
					url('../images/chamonix.jpg');
  background: linear-gradient(to right,#fff -85%, transparent 60%),
					url('../images/chamonix.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: bottom;
}

	section h1 {

		font-size: 40px

	}
}














